@model IEnumerable<Asignacion.Entidades.Asignatura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.credito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idmodalidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.credito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idmodalidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idasignatura">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idasignatura">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idasignatura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
