@model IEnumerable<Asignacion.Entidades.Asignatura>

@{
    ViewData["Title"] = "Asignaturas";
}

<section class="content-header">
    <h1>
        Asignaturas
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Asignaturas</li>
    </ol>
    <p>
        <a asp-action="Create">Crear Nueva Asignatura</a>
    </p>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Administrar Asignaturas</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tableasignatura" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.credito)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.idmodalidad)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.credito)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.modalidad.descripcion)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.idasignatura">Editar</a> |
                                        <a asp-action="Details" asp-route-id="@item.idasignatura">Detalle</a> |
                                        <a asp-action="Delete" asp-route-id="@item.idasignatura">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>
    $(function () {
        $('#tableasignatura').DataTable({
            "oLanguage": {
                "sSearch": "Buscar",
                "sZeroRecords": "No se encontraron resultados",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sInfo": "Registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sLoadingRecords": "Cargando...",
                "sProcessing": "Procesando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
            },
            "bFilter": true,
            "bProcessing": true,
            "bserverSide": true,
            "aaSorting": [[0, "desc"], [1, "desc"], [2, "desc"]],
            "lengthMenu": [[25, 50, 100, 200], [25, 50, 100, 200]],
            'columnDefs': [{
                'targets': 3,
                'searchable': false,
                'orderable': false
            }],
        });
    });
</script>
